###############################################################################
#                          Generated on phpdocker.io                          #
###############################################################################
version: "3.1"
services:

    mysql:
      image: mysql:8.0
      container_name: learn-mysql
      working_dir: /application
      volumes:
        - .:/application
      environment:
        - MYSQL_ROOT_PASSWORD=root
        - MYSQL_DATABASE=learn
        - MYSQL_USER=root
        - MYSQL_PASSWORD=root
      ports:
        - "8002:3306"

    mariadb:
      image: mariadb:10.4
      container_name: learn-mariadb
      working_dir: /application
      volumes:
        - .:/application
      environment:
        - MYSQL_ROOT_PASSWORD=root
        - MYSQL_DATABASE=learn
        - MYSQL_USER=root
        - MYSQL_PASSWORD=root
      ports:
        - "8003:3306"

    webserver:
      image: nginx:alpine
      container_name: learn-webserver
      working_dir: /application
      volumes:
          - .:/application
          - ./phpdocker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      ports:
       - "8000:80"

    php-fpm:
      build: phpdocker/php-fpm
      container_name: learn-php-fpm
      working_dir: /application
      volumes:
        - ./myApp:/application
        - ./phpdocker/php-fpm/php-ini-overrides.ini:/etc/php/7.4/fpm/conf.d/99-overrides.ini

